<!DOCTYPE html>
<html lang="id">
<head>
  <meta charset="UTF-8">
  <title>Kartu Siswa</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <div class="kartu">
    <img src="/uploads/<%= foto %>" class="foto" alt="Foto Siswa" />
    <div class="nama"><%= nama %></div>
    <div class="nisn"><%= nisn %></div>
    <div class="ttl"><%= ttl %></div>
    <div class="alamat"><%= alamat %></div>
    <div class="tanggal"><%= tanggal %></div>
    <div class="kepala">Makhfud, S.Pd</div>
    <img src="/images/ttd.png" class="ttd" alt="Tanda Tangan" />
  </div>
</body>
</html>